<div ng-controller="EmployeeCtrl">
  <div class="page-header"/>
  <div class="container">
    <div class="page-header">
      <h2>Caractéristiques employé</h2>
    </div>
  </div>
  <div class="container">
    <div class="lead">
      <button class="btn btn-primary" ng-click="props.isCollapsed = !props.isCollapsed">Caractéristiques</button>
      <!--a class="btn btn-primary" ng-click="employee.uri = apiUrl + 'alias/000002'">Employé par défaut</a-->
      <a class="btn btn-primary" ng-click="selectEmployee('000002')">Employé par défaut</a>
      <hr>
      <div uib-collapse="props.isCollapsed">
        <div class="form-inline">
          <div class="form-group">
            <label>Matricule</label>
            <select id="employees-list"
                    ng-options="apiUrl + 'alias/' + e.alias as e.nompre for e in employees"
                    ng-model="employee.uri"
                    ng-change="showEmployee()">
              <!--  +  -->
              <option style="display:none" value="">Employé ...</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <form>
      <div class="form-group row">
        <div class="lead col-md-12">
          <p><a href="{{employee.uri}}" ng-click target="_blank">{{employee.uri}}</a></p>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-md-2 form-control-label">Nom</label>
        <div class="col-md-6">
          <input type="text" class="form-control" readonly=true id="name" placeholder="Nom" value="{{employee.selected.nom}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="firstname" class="col-md-2 form-control-label">Prénom</label>
        <div class="col-md-6">
          <input type="text" class="form-control" readonly=true id="firstname" placeholder="Prénom" value="{{employee.selected.prenom}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="alias" class="col-md-2 form-control-label">Matricule</label>
        <div class="col-md-6">
          <input type="text" class="form-control" readonly=true id="alias" placeholder="Matricule" value="{{employee.selected.alias}}">
        </div>
      </div>
     </div>
    </form>
  </div>
</div>
