<div class="jumbotron">
  <div class="container">

    <div class="page-header">
      <h1>PoC Horoquartz <img src="images/horoquartz.svg" alt="Logo Horoquartz" align="right"></h1>
    </div>
    <p class="lead">
      <p class="text-info text-justify" >
        Les résultats fournis par ce PoC vont permettre la définition de la trajectoire de transformation de la solution eTemptation
        et les stratégies nécessaires à sa mise en oeuvre.
      </p>
      <p class="text-info text-justify" >
        Parmi les solutions candidates étudiées lors de l'étude, Spring Cloud et OSGi sont les mieux placées
        pour permettre l'atteinte des objectifs de transition technologique.
      </p>
      <p class="text-info text-justify" >
        Cette application illustre la consommation de services distribués construits sur ces architectures techniques
        et déployés sur une infrastrcuture cloud PaaS.
      </p>
    </p>
  </div>
</div>
