<div class="jumbotron">
  <div class="lead">
    <h1>PoC Horoquartz</h1>
    <img src="images/horoquartz.svg" alt="Logo Horoquartz">
    <hr>
    <blockquote>
      <p class="text-info text-justify" >
        Les résultats fournis par ce PoC vont permettre la définition de la trajectoire de transformation de la solution eTemptation
        et les stratégies nécessaires à sa mise en oeuvre.
      </p>
      <p class="text-info text-justify" >
        Les résultats fournis par ce PoC vont permettre la définition de la trajectoire de transformation de la solution eTemptation
        et les stratégies nécessaires à sa mise en oeuvre.
      </p>
    </blockquote>
  </div>
</div>
